Repository vixuslabs/newtonxr, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation, playground

clean up workspaces
  docs/next.config.js
  docs/postcss.config.js
  docs/src/app/layout.tsx
  docs/tsconfig.json
  packages/newtonxr/src/BuildPhysicalMeshes.tsx
  packages/newtonxr/src/BuildPhysicalPlanes.tsx
  packages/newtonxr/src/PhysicalController.tsx
  packages/newtonxr/src/SpatialHand.tsx
  packages/newtonxr/src/core/XRConfig.tsx
  packages/newtonxr/src/core/XRPhysics.tsx
  packages/newtonxr/src/core/store.ts
  playground/index.html
  playground/package.json
  playground/src/examples/Home.tsx
  playground/src/main.tsx
  playground/styles/global.css
  playground/tailwind.config.js
Labels: ðŸ“š documentation, playground

updated config
  pnpm-lock.yaml
  tooling/eslint/base.js
  tooling/eslint/nextjs.js
  tooling/eslint/package.json
  tooling/eslint/react.js
  tooling/eslint/tsconfig.json
  tooling/prettier/index.mjs
  tooling/prettier/package.json
Labels: none

prettier-ed files with new config
  docs/README.md
  packages/newtonxr/src/BuildPhysicalMeshes.tsx
  packages/newtonxr/src/BuildPhysicalPlanes.tsx
  packages/newtonxr/src/Grab.tsx
  packages/newtonxr/src/PhysicalController.tsx
  packages/newtonxr/src/SpatialHand.tsx
  packages/newtonxr/src/core/Grabbable.tsx
  packages/newtonxr/src/core/XRPhysics.tsx
  packages/newtonxr/src/objects/PhysicalBall.tsx
  playground/index.html
  playground/src/examples/Home.tsx
Labels: ðŸ“š documentation, playground

made prettier config global
  .eslintignore
  .prettierignore
  docs/package.json
  package.json
  packages/newtonxr/package.json
  playground/package.json
  pnpm-lock.yaml
  prettier.config.cjs
  tooling/eslint/base.js
  tooling/eslint/package.json
  tooling/prettier/index.mjs
  tooling/prettier/package.json
  tooling/prettier/tsconfig.json
  tooling/tailwind/package.json
  tsconfig.json
Labels: none

updated build part of ci workflow
  .github/workflows/ci.yml
Labels: none

removed dry run
  .github/workflows/release.yml
Labels: none

add npm_token env
  .github/workflows/release.yml
Labels: none

added github token + node auth token (plz work)
  .github/workflows/release.yml
Labels: none

added --watch to dev command
  package.json
  packages/newtonxr/package.json
Labels: none

clean up & add render management
  packages/newtonxr/src/Grab.tsx
  packages/newtonxr/src/core/Grabbable.tsx
  packages/newtonxr/src/objects/PhysicalBall.tsx
Labels: none

add pretteir + testing hands
  playground/package.json
  playground/src/examples/Home.tsx
Labels: playground

first physics-hand test + joints constant
  packages/newtonxr/src/SpatialHand.tsx
  packages/newtonxr/src/constants.ts
Labels: none

proper prototype joint tracking with rapier
  packages/newtonxr/src/core/PhysHand.tsx
  packages/newtonxr/src/core/index.tsx
Labels: none

updated workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: none

integrated rapier with XRHand
  playground/src/examples/Home.tsx
Labels: playground

added PhysHand which gives integrates XRHand with rapier
  packages/newtonxr/src/SpatialHand.tsx
  packages/newtonxr/src/core/PhysHand.tsx
  packages/newtonxr/src/core/index.tsx
Labels: none

readded org scope + removed format from workflow
  .github/workflows/release.yml
  packages/newtonxr/package.json
Labels: none

added default nvm, newtonxr => @vixuslabs/newtonxr, & turbo config update
  .nvmrc
  pnpm-lock.yaml
  turbo.json
Labels: none

added explicit output folder to newtonxr
  packages/newtonxr/tsconfig.json
Labels: none

changed newtonxr dep name in playground & explicitly added tsconfig to package.json
  packages/newtonxr/package.json
  playground/package.json
  playground/src/examples/Home.tsx
Labels: playground

turbo build depends on lint + typecheck
  packages/newtonxr/src/core/index.tsx
  turbo.json
Labels: none

clean up examples app
  playground/src/examples/Home.tsx
Labels: playground

added Spatial Hands for physics integrated hand tracking
  packages/newtonxr/src/constants.ts
  packages/newtonxr/src/core/HandBone.tsx
  packages/newtonxr/src/core/PhysHand.tsx
  packages/newtonxr/src/core/index.tsx
  packages/newtonxr/src/core/store.ts
Labels: none

improved performance for PhysHand and useNewton store
  packages/newtonxr/src/core/PhysHand.tsx
  packages/newtonxr/src/core/store.ts
Labels: none

updated vite + updated github actions config
  playground/package.json
  pnpm-lock.yaml
Labels: none

removed npm token from release's global env
  .github/workflows/release.yml
Labels: none

version 0.0.2 => 0.1.0
  packages/newtonxr/package.json
  playground/package.json
  pnpm-lock.yaml
Labels: none

update release.yml
  .github/workflows/release.yml
Labels: none

typo where NPM should've been NODE :((
  .github/workflows/release.yml
Labels: none

version update
  packages/newtonxr/package.json
  playground/package.json
Labels: none

optimized state updates to HandBoneMap
  packages/newtonxr/src/core/store.ts
Labels: none

updated pnpm-lock
  pnpm-lock.yaml
Labels: none

removed cjs export in config
  packages/newtonxr/package.json
Labels: none

added color prop to PhysicalBall
  packages/newtonxr/src/objects/PhysicalBall.tsx
Labels: none

added initial implementation of hand sensor's
  packages/newtonxr/src/core/HandSensor.tsx
  packages/newtonxr/src/core/PhysHand.tsx
  packages/newtonxr/src/core/index.tsx
  packages/newtonxr/src/core/store.ts
Labels: none

clean PhysicalController component
  packages/newtonxr/src/PhysicalController.tsx
Labels: none

created useHands hook
  packages/newtonxr/src/hooks/index.ts
  packages/newtonxr/src/hooks/useHands.ts
Labels: none

optimized store, clean up PhysHand, integrate useHands
  packages/newtonxr/src/core/HandBone.tsx
  packages/newtonxr/src/core/PhysHand.tsx
  packages/newtonxr/src/core/store.ts
Labels: none

optimized store, clean up PhysHand, integrate useHands
  packages/newtonxr/package.json
  playground/package.json
  pnpm-lock.yaml
Labels: none

added documentation to HandSensor component
  packages/newtonxr/src/core/HandSensor.tsx
Labels: none

.github/labeler.yml:

"ðŸ“š documentation":
  - any: ["docs/**", "!docs/**/package.json"]

"playground":
  - any: ["playground/**", "!playground/**/package.json"]
