Repository vixuslabs/newtonxr, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸ“š documentation, playground

added changset + canary version
  .changeset/README.md
  .changeset/config.json
  .changeset/pre.json
Labels: none

major version update
  packages/newtonxr/CHANGELOG.md
  packages/newtonxr/package.json
Labels: none

remove pre.json
  .changeset/pre.json
Labels: none

properly updated newtonxr version in playground
  playground/package.json
  pnpm-lock.yaml
Labels: none

ran prettier + check
  packages/newtonxr/CHANGELOG.md
  packages/newtonxr/src/Grab.tsx
  packages/newtonxr/src/constants.ts
  packages/newtonxr/src/hooks/useForwardedRef.ts
  tooling/eslint/base.js
Labels: none

improved prettier flow
  package.json
  packages/newtonxr/package.json
  turbo.json
Labels: none

added private prop
  tooling/github/package.json
Labels: none

removing manual 'use client' placements
  packages/newtonxr/src/BuildPhysicalMeshes.tsx
  packages/newtonxr/src/BuildPhysicalPlanes.tsx
  packages/newtonxr/src/Grab.tsx
  packages/newtonxr/src/PhysicalController.tsx
  packages/newtonxr/src/SpatialHand.tsx
  packages/newtonxr/src/core/Grabbable.tsx
  packages/newtonxr/src/core/XRConfig.tsx
  packages/newtonxr/src/core/XRPhysics.tsx
  packages/newtonxr/src/hooks/useControllersState.ts
Labels: none

chore: removed bundling, added 'use strict' banner, and explicitly targeting browser
  packages/newtonxr/tsup.config.ts
Labels: none

v1.0.1
  packages/newtonxr/CHANGELOG.md
  packages/newtonxr/package.json
Labels: none

fix: users must pass in meshes and planes themselves
  packages/newtonxr/src/BuildPhysicalMeshes.tsx
  packages/newtonxr/src/BuildPhysicalPlanes.tsx
Labels: none

changeset: minor bump
  .changeset/hip-dingos-look.md
Labels: none

changeset: v1.1.0 minor bump
  .changeset/hip-dingos-look.md
  packages/newtonxr/CHANGELOG.md
  packages/newtonxr/package.json
Labels: none

chore: cleanup
  docs/src/app/favicon.ico
  docs/src/app/globals.css
  docs/src/app/layout.tsx
  docs/src/app/page.tsx
  packages/newtonxr/src/Grab.tsx
  packages/newtonxr/src/PhysicalController.tsx
  packages/newtonxr/src/SpatialController.tsx
  packages/newtonxr/src/SpatialHand.tsx
Labels: ðŸ“š documentation

chore: proper exports
  packages/newtonxr/src/index.ts
Labels: none

feat: add README
  README.md
Labels: none

chore: updated playground + pnpm-lock
  playground/CHANGELOG.md
  playground/package.json
  playground/src/components/BuildPhysicalMeshes.tsx
  playground/src/components/BuiltPhysicalPlanes.tsx
  playground/src/examples/Home.tsx
  pnpm-lock.yaml
Labels: playground

.github/labeler.yml:

"ðŸ“š documentation":
  - any: ["docs/**", "!docs/**/package.json"]

"playground":
  - any: ["playground/**", "!playground/**/package.json"]
